wwwroot
/HealthCatalystAssignment/HealthCatalystProject/bin
/HealthCatalystAssignment/HealthCatalystProject/obj
/HealthCatalystAssignment/packages
/HealthCatalystAssignment/HealthCatalystProject/Angular/dist
node_modules
